@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

:root {
 --font-base: 'Inter', sans-serif;
 --font-heading: 'Inter', sans-serif;
 --color-primary: #2d2d2d;
 --color-bg: #FFFFFF;
 --color-accent: #005BFE;
 --color-btn-light-red: #F81155;
 --color-btn-dark-red: #D1003E;
 --color-btn-light-blue: #005BFE;
 --color-btn-dark-blue: #0047C6;
}
